In [54]:
import sqlite3

# Open the connection (this creates the database if there is not one already)
conn = sqlite3.connect('omada.db')
# Create cursor
c = conn.cursor()

# Drop all the tables if they exist
c.execute('''drop table if exists participant_accounts''')
c.execute('''drop table if exists weights''')
c.execute('''drop table if exists groups''')
c.execute('''drop table if exists group_message_board_posts''')
c.execute('''drop table if exists coach_accounts''')

# Create each table
c.execute(
    '''
    CREATE TABLE IF NOT EXISTS participant_accounts(
    id integer,
    email text,
    first_name text,
    last_name text,
    gender text,
    company text,
    group_id text,
    state text,
    city text,
    initial_weight_value double,
    height_in_inches double)
    '''    
)
c.execute(
    '''
    CREATE TABLE IF NOT EXISTS weights(
    id integer,
    participant_account_id integer,
    weighed_at timestamp,
    value double,
    filtered boolean
    )
    '''    
)
c.execute(
    '''
    CREATE TABLE IF NOT EXISTS groups(
    id integer,
    coach_account_id integer,
    start_date date
    )
    '''    
)
c.execute(
    '''
    CREATE TABLE IF NOT EXISTS group_message_board_posts(
    id integer,
    group_id integer,
    message text,
    created_at timestamp,
    created_by_account_type text,
    created_by_account_id integer
    )
    '''    
)
c.execute(
    '''
    CREATE TABLE IF NOT EXISTS coach_accounts(
    id integer,
    email text,
    first_name text,
    last_name text,
    state text,
    coach_manager_id integer
    )
    '''    
)
# Load the data for each table from csv files
# The CSV file is opened and then turned into a python list, which is then loaded by line
with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\participants.csv", 'rb') as participants:
    reader = csv.reader(participants)
    part = list(reader)
    for line in part:
        c.execute('''insert into participant_accounts values(?,?,?,?,?,?,?,?,?,?,?)''', line)

with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\weights.csv", 'rb') as weights:
    reader = csv.reader(weights)
    part = list(reader)
    for line in part:
        c.execute('''insert into weights values(?,?,?,?,?)''', line)

with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\groups.csv", 'rb') as groups:
    reader = csv.reader(groups)
    part = list(reader)
    for line in part:
        c.execute('''insert into groups values(?,?,?)''', line)

with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\group_message.csv", 'rb') as messages:
    reader = csv.reader(messages)
    part = list(reader)
    for line in part:
        c.execute('''insert into group_message_board_posts values(?,?,?,?,?,?)''', line)
        
with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\coach.csv", 'rb') as coaches:
    reader = csv.reader(coaches)
    part = list(reader)
    for line in part:
        c.execute('''insert into coach_accounts values(?,?,?,?,?,?)''', line)

# Function for grabbing all the data from a table and printing it        
def table_results_return(table_name):
    c.execute("select * from "+table_name)
    results = c.fetchall()
    column_width=6
    for row in results:             
        for el in row:         
            print str(el).ljust(column_width), 
        print

# List of tables to run through table results function
table_list = ("participant_accounts","weights","groups","group_message_board_posts","coach_accounts")

# Go through table list and print all data for each table to make sure it all loaded
for item in table_list:
    table_results_return(item)

# Commit database changes and close the connection        
conn.commit()
conn.close()

1      joe@gmail.com Joe    Josephson M      Google 1      CA     Palo Alto 235.786 72.43
2      mary@gmail.com Mary   Smith  F      Google 1      CA     Palo Alto 160.578 49.98
3      james@gmail.com James  Bean   M      Google 1      CA     Palo Alto 200.345 77.39
4      val@gmail.com Val    Judson F      Facebook 2      CA     Mountain View 120.345 63.65
5      sam@gmail.com Sam    Angle  M      Facebook 2      CA     Mountain View 198.756 76.79
6      angie@gmail.com Angie  Giorgio F      Facebook 2      CA     Mountain View 140.384 52.34
7      hank@gmail.com Hank   Singh  M      Twitter 3      CA     San Francisco 260.239 70.23
8      sofia@gmail.com Sophia Miglia F      Twitter 3      CA     San Francisco 100.345 60.32
9      chester@gmail.com Chester Main   M      Twitter 3      CA     San Francisco 185.235 76.25
10     andy@gmail.com Andy   Mire   M      Microsoft 4      WA     Redmond 166.451 80.23
11     heather@gmail.com Heather Krist  F      Microsoft 4      WA     Redmond 135.965 50.48
12     maria@gmail.com Maria  Chogo  F      Microsoft 4      WA     Redmond 120.435 55.63
13     naomi@gmail.com Naomi  Schmidt F      Microsoft 4      WA     Redmond 125.452 60.32
14     cal@gmail.com Cal    Brooks M      Microsoft 4      WA     Redmond 170.435 78.43
1      1      1/12/2017 234.345 FALSE
15     1      2/13/2017 230.432 FALSE
29     1      3/14/2017 225.843 FALSE
2      2      1/12/2017 158.342 FALSE
16     2      2/13/2017 157.234 FALSE
30     2      3/14/2017 155.326 FALSE
3      3      1/12/2017 198.345 FALSE
17     3      2/13/2017 197.956 FALSE
31     3      3/14/2017 19.0   TRUE
4      4      1/12/2017 121.234 FALSE
18     4      2/13/2017 120.236 FALSE
32     4      3/14/2017 119.765 FALSE
5      5      1/12/2017 195.654 FALSE
19     5      2/13/2017 190.764 FALSE
33     5      3/14/2017 185.985 FALSE
6      6      1/12/2017 138.329 FALSE
20     6      2/13/2017 137.435 FALSE
34     6      3/14/2017 136.876 FALSE
7      7      1/12/2017 260.567 FALSE
21     7      2/13/2017 50.0   TRUE
35     7      3/14/2017 264.652 FALSE
8      8      1/12/2017 100.202 FALSE
22     8      2/13/2017 99.235 FALSE
36     8      3/14/2017 100.342 FALSE
9      9      1/12/2017 184.218 FALSE
23     9      2/13/2017 183.564 FALSE
37     9      3/14/2017 182.034 FALSE
10     10     1/12/2017 167.324 FALSE
24     10     2/13/2017 165.325 FALSE
38     10     3/14/2017 166.322 FALSE
11     11     1/12/2017 134.547 FALSE
25     11     2/13/2017 133.657 FALSE
39     11     3/14/2017 130.435 FALSE
12     12     1/12/2017 120.324 FALSE
26     12     2/13/2017 119.456 FALSE
40     12     3/14/2017 117.034 FALSE
13     13     1/12/2017 10.0   TRUE
27     13     2/13/2017 126.324 FALSE
41     13     3/14/2017 126.899 FALSE
14     14     1/12/2017 171.124 FALSE
28     14     2/13/2017 169.321 FALSE
42     14     3/14/2017 168.213 FALSE
1      1      1/4/2017
2      2      1/4/2017
3      3      1/4/2017
4      4      1/4/2017
1      1      How is everyone doing 1/6/2017 participant 1
2      2      We got this. 2/15/2017 participant 2
3      3      I am having a hard time. 2/16/2017 participant 3
4      4      Almost to my goal! 2/17/2017 participant 4
5      1      This is tough, but I am getting through it. 2/18/2017 participant 5
6      2      Almost there! 2/19/2017 participant 6
7      3      I think I need some help to stay motivated. 2/20/2017 participant 7
8      4      I feel really good. 2/21/2017 participant 8
9      1      you are doing great! 2/22/2017 coach  1
10     2      keep up the good work 2/23/2017 coach  2
1      brian@omada.com Brian  Linus  CA     2
2      jane@omada.com Jane   Torvald CA
3      calvin@omada.com Calvin Stoldt WA
4      stella@omada.com Stella Clive  CA     3

In [38]:
import csv

with open("C:\\Users\\cjbro\\Desktop\\Projects\\Omada Interview\\participants.csv", 'rb') as participants:
    reader = csv.reader(participants)
    part = list(reader)
    for line in part:
        print line

['001', 'joe@gmail.com', 'Joe', 'Josephson', 'M', 'Google', '001', 'CA', 'Palo Alto', '235.786', '72.43']
['002', 'mary@gmail.com', 'Mary', 'Smith', 'F', 'Google', '001', 'CA', 'Palo Alto', '160.578', '49.98']
['003', 'james@gmail.com', 'James', 'Bean', 'M', 'Google', '001', 'CA', 'Palo Alto', '200.345', '77.39']
['004', 'val@gmail.com', 'Val', 'Judson', 'F', 'Facebook', '002', 'CA', 'Mountain View', '120.345', '63.65']
['005', 'sam@gmail.com', 'Sam', 'Angle', 'M', 'Facebook', '002', 'CA', 'Mountain View', '198.756', '76.79']
['006', 'angie@gmail.com', 'Angie', 'Giorgio', 'F', 'Facebook', '002', 'CA', 'Mountain View', '140.384', '52.34']
['007', 'hank@gmail.com', 'Hank', 'Singh', 'M', 'Twitter', '003', 'CA', 'San Francisco', '260.239', '70.23']
['008', 'sofia@gmail.com', 'Sophia', 'Miglia', 'F', 'Twitter', '003', 'CA', 'San Francisco', '100.345', '60.32']
['009', 'chester@gmail.com', 'Chester', 'Main', 'M', 'Twitter', '003', 'CA', 'San Francisco', '185.235', '76.25']
['010', 'andy@gmail.com', 'Andy', 'Mire', 'M', 'Microsoft', '004', 'WA', 'Redmond', '166.451', '80.23']
['011', 'heather@gmail.com', 'Heather', 'Krist', 'F', 'Microsoft', '004', 'WA', 'Redmond', '135.965', '50.48']
['012', 'maria@gmail.com', 'Maria', 'Chogo', 'F', 'Microsoft', '004', 'WA', 'Redmond', '120.435', '55.63']
['013', 'naomi@gmail.com', 'Naomi', 'Schmidt', 'F', 'Microsoft', '004', 'WA', 'Redmond', '125.452', '60.32']
['014', 'cal@gmail.com', 'Cal', 'Brooks', 'M', 'Microsoft', '004', 'WA', 'Redmond', '170.435', '78.43']